.header{
    display:flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    align-items: center;
    margin: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  width: 53.5%;
}
.menu{
    display:flex;
    flex: 1;
    justify-content: flex-end;

}

.menu-icon{
    font-size: 24px;

}

.mobile-menu{
    display: none;
}

.web-menu{
    display: flex;
}

.logo{
    display:flex;
    font-size: 36px;
    color: blueviolet;
    font-weight: 800;
}

@media only screen and (max-width: 720px){
   .header{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 80%;
   }
    .mobile-menu{
       display: flex;
   } 
   .web-menu{
       display: none;
   }
   .logo{
       font-size: 24px;
   }
}